<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codemix.history_of_64_districts">

    <application
        android:allowBackup="true"
        android:name=".app"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".about"/>
        <activity android:name=".khulna"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".barisal"/>
        <activity android:name=".bibid"/>
        <activity android:name=".chittagong"/>
        <activity android:name=".Dhaka"/>
        <activity android:name=".Main3Activity"/>
        <activity android:name=".momenshahi"/>
        <activity android:name=".post"/>
        <activity android:name=".rajsahi"/>
        <activity android:name=".rongpur"/>
        <activity android:name=".sylhet"/>
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>